Repository Sly-Harvey/NixOS: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-flake-check, nix-fmt-check, nix-build-check

.pre-commit-config.yaml:

# Pre-commit hooks for NixOS configuration
# Run `nix develop` then `pre-commit install` to set up
repos:
  # Nix formatting and linting
  - repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.3.0
    hooks:
      - id: nixpkgs-fmt
        name: Format Nix files
        description: Format Nix files with nixpkgs-fmt
        files: \.nix$
  - repo: https://github.com/astro/deadnix
    rev: v1.2.1
    hooks:
      - id: deadnix
        name: Remove dead Nix code
        description: Find and remove unused code in Nix files
        files: \.nix$
        args: ["--edit"]
  - repo: https://github.com/nix-community/statix
    rev: v0.5.8
    hooks:
      - id: statix
        name: Lint Nix files
        description: Lint Nix files for anti-patterns and suggestions
        files: \.nix$
        args: ["check"]
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
        description: Remove trailing whitespace from files
        exclude: \.patch$
      - id: end-of-file-fixer
        name: Fix end of files
        description: Ensure files end with a newline
      - id: check-merge-conflict
        name: Check for merge conflicts
        description: Check for files that contain merge conflict strings
      - id: check-yaml
        name: Check YAML syntax
        description: Validate YAML files
        files: \.(yaml|yml)$
      - id: check-json
        name: Check JSON syntax
        description: Validate JSON files
        files: \.json$
      - id: check-toml
        name: Check TOML syntax
        description: Validate TOML files
        files: \.toml$
      - id: check-added-large-files
        name: Check for large files
        description: Prevent large files from being committed
        args: ['--maxkb=1000']
  # Custom NixOS validation hooks
  - repo: local
    hooks:
      - id: nix-flake-check
        name: Validate flake
        description: Run nix flake check to validate the flake
        entry: nix
        args: ["flake", "check", "--no-build"]
        language: system
        files: ^(flake\.(nix|lock)|.*\.nix)$
        pass_filenames: false
      - id: nix-fmt-check
        name: Check Nix formatting
        description: Ensure Nix files are properly formatted
        entry: nix
        args: ["fmt", "--", "--check"]
        language: system
        files: \.nix$
        pass_filenames: false
      - id: nix-build-check
        name: Build check (dry-run)
        description: Verify NixOS configuration builds without errors
        entry: bash
        args: ["-c", "nix build .#nixosConfigurations.Default.config.system.build.toplevel --dry-run"]
        language: system
        files: ^(flake\.(nix|lock)|.*\.nix)$
        pass_filenames: false
# Configuration
default_stages: [commit]
fail_fast: false
minimum_pre_commit_version: "3.0.0"

Added zed module
  hosts/Default/variables.nix
  hosts/Singularity/variables.nix
  modules/desktop/hyprland/variables.nix
  modules/programs/editor/zed/default.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Added antigravity-cli
  hosts/Singularity/host-packages.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Arkenfox browser hardening and standardised grouping
  modules/programs/browser/firefox/settings.nix
  modules/programs/browser/floorp/settings.nix
  modules/programs/browser/zen-beta/settings.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Deleted caelestia
  modules/desktop/hyprland/programs/caelestia/default.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Updated flake
  flake.lock
  modules/desktop/hyprland/programs/rofi/config.nix
  modules/desktop/hyprland/programs/rofi/default.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Enabled "vague" theme in nixvim
  flake.lock
Due: nix-flake-check, nix-build-check

Tweaked bufferline and noice in nixvim
  flake.lock
Due: nix-flake-check, nix-build-check

Fixed cell steps in kitty
  modules/desktop/hyprland/lua/settings.lua
  modules/programs/terminal/kitty/default.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Enabled cursor_trails for kitty
  modules/programs/terminal/kitty/default.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Tweaked noctalia lockscreen animation
  modules/desktop/hyprland/programs/noctalia/default.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Widgets for all displays in noctalia
  modules/desktop/hyprland/programs/noctalia/default.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Use clock24h variable more
  modules/desktop/hyprland/programs/noctalia/default.nix
  modules/desktop/hyprland/programs/waybar/minimal.nix
  modules/desktop/hyprland/programs/wayle/default.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Update README.md
  .github/README.md
Due: none

Updated nixvim
  flake.lock
Due: nix-flake-check, nix-build-check

Made the rebuild window smaller
  modules/desktop/hyprland/lua/binds.lua
  modules/desktop/hyprland/lua/rules.lua
Due: none

Resized fetch window
  modules/desktop/hyprland/lua/binds.lua
  modules/desktop/hyprland/lua/rules.lua
Due: none

Expand all settings in noctalia
  modules/desktop/hyprland/programs/noctalia/default.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Added noctalia notifications bind
  modules/desktop/hyprland/lua/binds.lua
Due: none

Switched sddmTheme to "jake_the_dog"
  hosts/Default/variables.nix
  hosts/Singularity/variables.nix
  modules/core/sddm.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Proper power menu binds for noctalia
  modules/desktop/hyprland/programs/noctalia/default.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Updated flake
  flake.lock
  modules/programs/cli/lazygit/default.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Added zen-toggle-sidebar keybind
  modules/programs/browser/zen-beta/default.nix
  modules/programs/browser/zen-beta/keybinds.nix
  modules/programs/browser/zen-beta/settings.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Added librewolf browser
  hosts/Default/variables.nix
  hosts/Singularity/variables.nix
  modules/programs/browser/librewolf/default.nix
  modules/programs/browser/librewolf/policies.nix
  modules/programs/browser/librewolf/search.nix
  modules/programs/browser/librewolf/settings.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Custom newtab wallpaper for firefox and librewolf
  modules/programs/browser/firefox/default.nix
  modules/programs/browser/firefox/policies.nix
  modules/programs/browser/firefox/settings.nix
  modules/programs/browser/floorp/settings.nix
  modules/programs/browser/librewolf/default.nix
  modules/programs/browser/librewolf/policies.nix
  modules/programs/browser/librewolf/settings.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Combined duplicated browser settings into one file.
  modules/programs/browser/firefox/default.nix
  modules/programs/browser/floorp/default.nix
  modules/programs/browser/floorp/settings.nix
  modules/programs/browser/librewolf/default.nix
  modules/programs/browser/librewolf/settings.nix
  modules/programs/browser/settings.nix
  modules/programs/browser/zen-beta/default.nix
  modules/programs/browser/zen-beta/settings.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Combined duplicated browser policies into one file.
  hosts/Default/variables.nix
  hosts/Singularity/variables.nix
  modules/programs/browser/firefox/default.nix
  modules/programs/browser/firefox/policies.nix
  modules/programs/browser/floorp/default.nix
  modules/programs/browser/floorp/policies.nix
  modules/programs/browser/librewolf/default.nix
  modules/programs/browser/policies.nix
  modules/programs/browser/zen-beta/default.nix
  modules/programs/browser/zen-beta/policies.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check

Updated flake and fixed stylix errors
  flake.lock
  hosts/Singularity/configuration.nix
  modules/core/stylix.nix
  modules/default.nix
  modules/desktop/hyprland/default.nix
  modules/desktop/hyprland/programs/noctalia/default.nix
  modules/desktop/hyprland/scripts/wallpaper.nix
  modules/programs/browser/firefox/default.nix
  modules/programs/browser/librewolf/default.nix
Due: nix-flake-check, nix-fmt-check, nix-build-check
